go 1.24.1

use (
	./pkg
	./proto
	./services/api-gateway
	./services/auth-service
	./services/chat-service
	./services/media-orchestrator
	./services/stream-service
	./services/transcode-worker
	./services/user-service
)
